* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

.section_1_bg {
    background-color: #BDCF48;
    background-image: url(../img/background2.png);
}

.navigation {
    box-shadow:  0px 10px 26px rgba(0, 0, 0, 0.25);
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* .navbar-dark .navbar-toggler {
    border: 2px solid black;
} */

.app_china_name {
    justify-content: space-between;
    width: 110%;
}

.what_to_learn {
    font-size: 24px;
    color: #565656;
}

.menu_items {
    justify-content: space-between;
    width: 22%;
}

li a {
    font-family: 'Poppins';
    text-decoration: none;
    color: #565555;
}

.iphones {
    margin:-20px 0 0 100px;
    width: 75%;
}

.right_section {
    display: block;
}

.buttons {
    margin-right: 100px;
}

.apple {
    width: 30px;
    height: 31px;
}

.downloading_text {
    font-size: 20px !important;
    white-space: nowrap;
    margin-right: 100px;
}

.second_section_title {
    font-size: 25px;
    font-family: Poppins;
    margin: 150px auto 80px;
}

.title_h6 {
    color: #464646;
    font-family: Poppins;
    float: right;
    margin-right: 70px;
}
